.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

div.post-tabs {
    margin-top: 16px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

div.post-footer {
    text-align: right;
}

ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}

div.comment-form {
    margin: 16px 0px 16px 32px;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.post-body h1 {
    font-size: 140%;
}

.post-body h2 {
    font-size: 130%;
}

.post-body h3 {
    font-size: 120%;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

div.user-tabs {
    margin-top: 16px;
}

ul.users {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

div.user-tabs ul.users {
    margin: 0px;
    border-top: none;
}

ul.users li.user {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.users li.user:hover {
    background-color: #f0f0f0;
}

div.user-date {
    float: right;
}

div.user-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

ul.users li.user:hover {
    background-color: #f0f0f0;
}

ul.users {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

div.user-info {
    margin-left: 48px;
    min-height: 48px;
}

div.footer-inner img {
    display: block;
    margin: auto;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
}

.navbar.navbar-default {
    border-radius: 0px;
    border-left: transparent;
}

#navbar-collapse {
    border-bottom: 1px solid #266080;
}

.lower-nav {
    color: #fff;
    font-size: 20px;
    padding: 23px 20px;
    height: 150px;
    color: #266080;
    background-color: #fff;
    border-bottom: 6px solid #266080;
}

#brand-logo {
    background-size: cover;
    position: absolute;
}

#brand-logo img {
    width: 100%;
    height: 130px;
    min-width: 150px;
}

div.nopadding {
    padding: 0;
    margin: 0;
}

.nav-buttons {
    border-radius: 0px;
}

.navbar-brand {
    display: none;
}

.wrapper {
    height: auto;
    background-color: #fff;
    margin-top: 0px;
    padding: 10px 20px;
}

.well {
    background-color: transparent;
    border: 3px solid #428bca;
    border-radius: 0px;
    text-align: center;
    font-size: 25px;
}

@media (max-width: 768px) {
    .lower-nav {
        font-size: 20px;
        padding: 25px 20px;
    }

    .navbar-brand {
        display: block;
    }
}

@media (max-width: 480px) {
    .lower-nav {
        font-size: 18px;
        padding: 20px 10px;
    }
}